## Numbers

In [3]:
my_number=12345

In [4]:
type(my_number)

int

In [6]:
my_float=3.14
print(type(my_float))
print(my_float)

<class 'float'>
3.14

In [8]:
15 + 5

20

In [10]:
14 - 3

11

In [12]:
6 / 5

1.2

In [14]:
6 / 4

1.5

In [23]:
21 // 5

4

In [24]:
21 % 5

1

In [2]:
#Another way o look at modulo

def modulo(num1,num2):
    whole_part=num1//num2
    return num1-whole_part*num2

In [3]:
modulo(17,5)

2

In [32]:
2 ** 3

8

In [35]:
4 ** 0.5

2.0

In [37]:
int(3.45)

3

In [39]:
round(3.1415, 2)

3.14

In [41]:
round(3.9999, 2)

4.0

In [43]:
import math

In [45]:
math.floor(3.999999)

3

In [47]:
2 + 3 * 4

14

In [48]:
(2 + 3) * 4

20

In [50]:
#Hafızada tutulma şeklinden kaynaklanıyor
0.1 * 3

0.30000000000000004

In [51]:
from decimal import Decimal

In [55]:
Decimal('0.1') * 3

Decimal('0.3')

In [68]:
# Gerçek anlamda random değil. Arkasında bir mantık olduğu için rastgeleliğe uymuyor.
import random
random.randint(0, 99)

47

# Strings
- immutable
- iterable

In [70]:
my_string = '"my text is important"'

In [72]:
print(my_string)

"my text is important"

In [74]:
long_string = '''
###
text
    example


'''
print(long_string)

###
text
    example

In [77]:
my_number=str(my_number)
print(type(my_number))

<class 'str'>

In [82]:
print(my_string)
my_string[-1]

"my text is important"

'"'

In [86]:
len(my_string[-1])

1

In [90]:
len(my_string)

22

# Slice
str [start : stop : step]

In [92]:
my_string[1:4]

'my '

In [94]:
my_string[:4]

'"my '

In [96]:
my_string[::2]

'"ytx siprat'

In [98]:
#Stringi ters çevirmek için
my_string[::-1]

'"tnatropmi si txet ym"'

In [101]:
my_string.split('"')

['', 'my text is important', '']

In [102]:
animals = ["cat", "dog", "horse"]

In [107]:
" ".join(animals)

'cat dog horse'

In [108]:
"".join(animals)

'catdoghorse'

In [109]:
for item in my_string:
    print(item)

"
m
y

t
e
x
t

i
s

i
m
p
o
r
t
a
n
t
"

### fstrings

In [112]:
name = "aslı"
age = 22
print(f"My name is {name} and my age is {age} ")

My name is aslı and my age is 22

In [113]:
import datetime

In [116]:
today = datetime.datetime.today()
print(today)

2023-11-26 13:45:21.980875

In [119]:
print(f"{today:%d %b %Y}")

26 Nov 2023

In [120]:
print(f"{today:%d %m %Y}")

26 11 2023

# Boolean

In [122]:
bool(5)

True

In [124]:
bool(0)

False

In [128]:
my_variable = 0
if my_variable:
    print("yes it is true")
else:
    print("no it is false")

no it is false

In [127]:
my_variable is True

False